

.App {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.card-list {
  column-count: 3;
}

.card {
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

.card--image {
  cursor: pointer;
  transition: transform 1s, filter 1s ease-in-out;
}

.card-likeBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0;
  display: none;
  transition: 5s;
}

.card--image:hover {
  transform: scale(1.5);
  filter: brightness(50%);
}

.card:hover .card-likeBtn{
  display: block;
}

@media only screen and (max-width: 600px) {
    .card-list {
        column-count: 1;
    }
}